

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/aboutme.css" />
</head>
<style>
    p {
        color: #3F3F3F;
    }
</style>
<section id="aboutus">
    <div class="container" style="">
        <div class="row" style="">
            <div class="col-sm-7" style=" background-color: #A3BCB6; padding:5px; border-radius:3px; position:static !important;">
                <h2 class="text-center">Mr John</h2>
                <p>
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
                    mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının
                    bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini
                    alarak karıştırdığı 1500'lerden beri endüstri standardı sahte
                    metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını
                    sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik
                    dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da
                    içeren Letraset yapraklarının yayınlanması ile ve yakın
                    zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren
                    masaüstü yayıncılık yazılımları ile popüler olmuştur.
                </p>
                <p>
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
                    mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının
                    bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini
                    alarak karıştırdığı 1500'lerden beri endüstri standardı sahte
                    metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını
                    sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik
                    dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da
                    içeren Letraset yapraklarının yayınlanması ile ve yakın
                    zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren
                    masaüstü yayıncılık yazılımları ile popüler olmuştur.
                </p>
                <p>
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
                    mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının
                    bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini
                    alarak karıştırdığı 1500'lerden beri endüstri standardı sahte
                    metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını
                    sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik
                    dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da
                    içeren Letraset yapraklarının yayınlanması ile ve yakın
                    zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren
                    masaüstü yayıncılık yazılımları ile popüler olmuştur.
                </p>
            </div>
            <div class="col-sm-5"style="position:static !important;">
                <div class="img-wrap" >
                    <img src="~/img/pp.jpg" stlyle="static !important;" />
                </div>

            </div>
        </div>

    </div>

</section>

