
<style>
    .outer {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .photos {
        margin: 0px !important;
        padding: 0px !important;
        width: 100% !important;
        border: 3px;
        border-color: black;
        border-style:solid;
    }
    .box-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        /*margin:10%;*/
    }

    .box {
        padding: 0px;
        /*margin:2%;*/
        background: white;
        width: 100%;
        border: 1px solid #d6d6d6;
        box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
        border-radius: 3px;
        transition: .2s all;
    }

    .box-wrap:hover .box {
        filter: blur(3px);
        opacity: .5;
        transform: scale(.98);
        box-shadow: none;
    }

        .box-wrap:hover .box:hover {
            transform: scale(1);
            filter: blur(0px);
            opacity: 1;
            box-shadow: 0 8px 20px 0px rgba(0,0,0,0.125);
        }
</style>
<body>
    <!-- asp-route-id kodu 100X dir! -->
    <div class="box-wrap">
        <div class="row outer">
            <div class="box">
                <div class="content photos">
                    <a asp-controller="Home" asp-action="ContentDetail" asp-route-id="1001">
                        <img src="/img/shazam1.jpg" alt="Nature" style="width:100%">
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="content photos">
                    <a asp-controller="Home" asp-action="ContentDetail" asp-route-id="1002">
                        <img src="/img/shazam1.jpg" alt="Nature" style="width:100%">
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="content photos">
                    <a asp-controller="Home" asp-action="ContentDetail" asp-route-id="1003">
                        <img src="/img/shazam1.jpg" alt="Nature" style="width:100%">
                    </a>
                </div>
            </div>
        </div>
        <div class="row outer">
            <div class="box">
                <div class="content photos">
                    <a asp-controller="Home" asp-action="ContentDetail" asp-route-id="1004">
                        <img src="/img/shazam1.jpg" alt="Nature" style="width:100%">
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="content photos">
                    <a asp-controller="Home" asp-action="ContentDetail" asp-route-id="1005">
                        <img src="/img/shazam1.jpg" alt="Nature" style="width:100%">
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="content photos">
                    <a asp-controller="Home" asp-action="ContentDetail" asp-route-id="1006">
                        <img src="/img/shazam1.jpg" alt="Nature" style="width:100%">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>